.pick-em-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 140px;
  row-gap: 50px;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  align-content: space-evenly;
}

@media (max-width: 1000px) {
  .pick-em-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 750px) {
  .pick-em-grid {
    grid-template-columns: 1fr 1fr;
  }
}


.driver-flex {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 250px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 8px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s, color 0.2s;
}

.driver-flex:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.name {
  font-size: 13px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

.pick-em-points {
  margin-right: 20px;
  font-size: 13px;
}

.driver-position {
  font-size: 13px;
  padding-left: 8px;
}

.driver-selected {
  background-color: black;
  color: white;
}