.updated-standings {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  justify-content: center;
}

.new-standings-flex {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 250px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 8px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.new-position {
  font-size: 13px;
  padding-left: 8px;
}

.new-name {
  font-size: 13px;
  padding-left: 5px;
  padding-right: 5px;
}

.new-points {
  margin-right: 20px;
  font-size: 13px;
}

.change-in-position {
  font-size: 13px;
  margin-left: 10px;
  padding-bottom: 8px;
}

.positive-change {
  font-size: 13px;
  margin-left: 10px;
  padding-bottom: 8px;
  color: rgb(2, 92, 2);
}

.negative-change {
  font-size: 13px;
  margin-left: 10px;
  padding-bottom: 8px;
  color: rgb(211, 1, 1);
}

