.next-race-results {
  display: grid;
  align-items: center;
}

.race-flex {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 250px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 8px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  transition: background-color 0.2s, color 0.2s;
}

.next-race-position {
  font-size: 13px;
  padding-left: 8px;
}

.race-driver-name {
  font-size: 13px;
  margin-left: 10px;
}

.points-from-race {
  margin-right: 15px;
  font-size: 13px;
}